html{
    height: 100%;
    width: 100%;
} 

body{
    height: 100%;
    border:100%;
    display:flex;
    flex-direction: column;
   /*  border: black solid 1px;; */
}

.header{
    background-color: rgb(255, 155, 118);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    /* justify-items: center; */
    align-items: center;
    border: olive solid 1px;
    justify-content: space-between;
}

.header h1{
    font-size: 2em;
    padding-left: 1em;
    font-weight: bolder;
}

.addBook{
    border: none;
    background-color: rgb(38, 102, 43);
    font-size: 1.3em;
    border-radius: 5px;
    margin-right: 1em;
    padding: .5em 1em;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.267);
    color:rgb(255, 246, 235);
    font-weight:bolder;

}

.addBook:hover{
    background-color: rgb(82, 158, 88);
}

#libraryDisplay{
    flex-grow: 5;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* border-top: rgba(189, 189, 189, 0.267) solid 5px; */
}

#libraryDisplay .book{
    /* height: ;
    width: ; */
    /* s */
    position: relative;
    width: 10em;
    height: 15em;
    background-color: rgb(182, 166, 127);
    margin: 1em;
    border-radius: 5px;
    border-left: rgb(221, 0, 0) solid 10px;
    box-shadow: 5px -5px 1px 1px rgb(223, 222, 222), 8px -7px 1px 1px 
    rgb(146, 133, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: black solid 5px; */
  /*  color: rgb(146, 133, 102);*/
} 

.bookRemove{
    display:none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: red;
    font-weight: bolder;
/*     vertical-align: top;
    justify-self:right;
    align-self:end; */
/*     vertical-align: top; */
    border: none;
    border-radius: 50%;
    height: 2.7em;
    width: 2.7em;
    top: 0%;
    align-self: end;
}

#libraryDisplay .book:hover{
    /* display: block; */
/*     width: 10.5em;
    height: 15.5em;
    font-size: 1em; */
}

#libraryDisplay .book:hover > .bookRemove{
    display: block;
    box-shadow: 3px 3px 1px 1px rgba(126, 126, 126, 0.671);
}

.bookRemove:hover{
    background-color: rgb(218, 218, 218);
}

.book div{
    margin: 1em;
}

.newBookForm{
    position: absolute;
/*     width: 30em;
    height: 40em; */
    border: rgb(221, 0, 0) solid 1px;
    display: flex;
    align-self: center;
    justify-content: center;
    top: 15vh;
    background-color: white;
}

.addBookForm{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    border: yellow solid 1px;
    padding: 3em;
    width: 30vw;
    height: 40vh;

}

.addBookForm h1{
    align-self: center;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

label, p{
    font-size: 1.2em;
    margin-bottom: .2em;
}

input[type = text]{
    margin: 0em 0em 2em 0em;
}

.hasRead{
    margin-bottom: 3em;
}
.addBookForm button{
    /* justify-content: left; */
    align-self: center;
    width: 20vw;
    /* padding-right: 0%; */
    margin-right: 0%;
    box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 0.356);

    /* justify-content: end; */
}