html{
    height: 100%;
    width: 100%;
} 

body{
    height: 100%;
    border:100%;
    display:flex;
    flex-direction: column;
   /*  border: black solid 1px;; */
}

.header{
    background-color: rgb(255, 155, 118);
    flex-grow: 1;
    display: flex;
    /* justify-items: center; */
    align-items: center;
}

.header h1{
    font-size: 2em;
    padding-left: 1em;
}

#libraryDisplay{
    flex-grow: 5;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-top: rgba(189, 189, 189, 0.267) solid 5px;
}

#libraryDisplay .book{
    /* height: ;
    width: ; */
    /* s */
    width: 10em;
    height: 15em;
    background-color: rgb(182, 166, 127);
    margin: 1em;
    border-radius: 5px;
    border-left: rgb(221, 0, 0) solid 10px;
    box-shadow: 5px -5px 1px 1px rgb(223, 222, 222), 8px -7px 1px 1px 
    rgb(146, 133, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: black solid 5px; */
  /*  color: rgb(146, 133, 102);*/
} 

.book div{
    margin: 1em;
}